@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

body {
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  border: 1px solid #54a972;
}
